@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.footer{
  width:100%;
  background: #161B22;
  color: white;
  margin-top: 22px;
  padding:13px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  bottom:0px;
}